*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
body{
    background-color: #777777;
}
header{
    background: linear-gradient(to right, #0000CD, #00BFFF);
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}
@media(min-width: 300px) and (max-width: 820px){
    header{
        background: linear-gradient(to right, #0000CD, #00BFFF);
        color: #fff;
        font-size: 1.6rem;
        text-align: center;
        padding: 0.5rem;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
}
footer{
    background: linear-gradient(to right, #0000CD, #00BFFF);
    color: #fff;
    font-size: 1.8rem;
    padding: 2rem;
    text-align: center;
}
.conteudo{
    font-size: 1.6rem;
    background-color: #777777;
    padding: 1.5rem;
    text-align: justify;
    margin: 0 auto;
    max-width: 95%;
}
.container{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1.5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 20rem;
    max-width: 90%;
    padding-top: 3rem;
    border-radius: 20px;
}
@media(min-width: 300px) and (max-width: 820px){
    .container{
        font-size: 1.6rem;
        background-color: #fff;
        padding: 1.5rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 11rem;
        max-width: 91%;
        padding-top: 3rem;
        border-radius: 20px;
    }
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
    padding-bottom: 5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
figure{
    text-align: center;
}
#logo-topo{
    width: 10%;
    height: 7%;
    margin-left: 15rem;
}
@media(min-width: 300px) and (max-width: 820px){
    #logo-topo{
        width: 25%;
        height: 18%;
        margin: 0 auto;
    }
}
.imagens-site{
    border-radius: 3px;
    width: 20%;
    height: 5%;
}
#r2d2{
    width: 10%;
    height: 5%;
    border: none;
}
@media(min-width: 300px) and (max-width: 820px){
    .imagens-site{
        border-radius: 3px;
        width: 80%;
        height: 60%;
    }
    #r2d2{
        width: 60%;
        height: 40%;
    }
}
#whats{
    width: 100px;
    height: 170px;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    z-index: 1;
    margin-right: 15px;
}
#grid-conteudo{
    background-color: #777777;

}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid div{
    background-color: #fff;
    text-align: center;
    padding: 2px;
}
nav{
    text-align: right;
    font-size: 1.6rem;
    word-spacing: 10px;
    margin-right: 5%;
    padding-bottom: 5px;
}
@media(min-width: 300px) and (max-width: 820px){
    nav{
        text-align: center;
        font-size: 1.6rem;
        word-spacing: 5px;
        padding-bottom: 1px;
    }
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: black;
}
.sobre{
    width: 50%;
    text-align: center;
    border-radius: 15px;
    border: solid #A9A9A9;
    margin: 0 auto;
    padding-top: 30px;
    padding: 3rem;
    background: linear-gradient(to bottom, #fff, #A9A9A9);
}
.professor{
    text-align: center;
    color: white;
    background-color: #0000CD;
    padding: 2rem;
    border-radius: 10px;
}
@media(min-width: 300px) and (max-width: 820px){
    div.video{
        position: relative;
        padding-bottom: 80%;
    }
    div.video > iframe{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 100%;
    }
}